ErrorDocument 404 /public/errors/404.php
ErrorDocument 403 /public/errors/403.php
#Pfad muss wohl absolut sein. Wird bei richtiger config von webserver vermutlich angepasst werden müssen.

#Issue 138 Pfade ohne .php
RewriteEngine On
RewriteBase /public/

# /routen  →  intern routen.php   (nur wenn die .php-Datei existiert)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]